@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não possui permissão para acessar esse conteúdo.</p>
</header>
