@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <a class="btn btn-primary" asp-controller="Medicos" asp-action="Index">Medicos</a>
    <a class="btn btn-primary" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
    <a class="btn btn-primary" asp-controller="Consultas" asp-action="Index">Consultas</a>
    <a class="btn btn-primary" asp-controller="Exames" asp-action="Index">Exames</a>
</div>
